/* This must be here to overwrite the default Leaflet style */
.station-label {
    color: black !important;
    font-size: 14px;
    font-weight: bold;

    text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px  1px 0 white,
            1px  1px 0 white;
}